<div>
  <h1 class="mb-4">
    Edit User Account
  </h1>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <div>
    <form action="/update_user_profile" method="post">
      <div class="mb-3">
        <label for="email_box" class="form-label">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="first_name_box" class="form-label">First name</label>
        <input id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="last_name_box" class="form-label">Last name</label>
        <input id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="date_of_birth_box" class="form-label">Birthday</label>
        <input type="date" id="date_of_birth_box" name="query_date_of_birth" value="<%= @current_user.date_of_birth %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="street_address_box" class="form-label">Street address</label>
        <input id="street_address_box" name="query_street_address" value="<%= @current_user.street_address %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="apartment_number_box" class="form-label">Apartment number (optional)</label>
        <input id="apartment_number_box" name="query_apartment_number" value="<%= @current_user.apartment_number %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="city_box" class="form-label">City</label>
        <input id="city_box" name="query_city" value="<%= @current_user.city %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="state_box" class="form-label">State</label>
        <input id="state_box" name="query_state" value="<%= @current_user.state %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="zip_code_box" class="form-label">Zip code</label>
        <input id="zip_code_box" name="query_zip_code" value="<%= @current_user.zip_code %>" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary mb-3">Update account</button>
    </form>
  </div>
</div>
