<h1>Your Data</h1>

<dl>
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Address (line 1)</dt>
  <dd><%= @user.street_address %></dd>

  <dt>Address (line 2)</dt>
  <dd><%= @user.apartment_number %></dd>

  <dt>City</dt>
  <dd> <%= @user.city %></dd>

  <dt>State</dt>
  <dd><%= @user.state %></dd>

  <dt>Zip code</dt>
  <dd><%= @user.zip_code %></dd>
</dl>

<div>
  <a href="/edit_user_profile">Edit your data</a>
</div>

<div>
  <a href="/user_dashboard">Back to dashboard</a>
</div>
