<div>
  <div>
    <h1>
      List of all trusted relationships
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new trusted relationship
    </h2>

    <form action="/insert_trusted_relationship" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="company_id_box">
          Company
        </label>

        <input type="text" id="company_id_box" name="query_company_id">
      </div>

      <button>
        Create trusted relationship
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Company
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trusted_relationships.each do |a_trusted_relationship| %>
      <tr>
        <td>
          <%= a_trusted_relationship.id %>
        </td>

        <td>
          <%= a_trusted_relationship.user_id %>
        </td>

        <td>
          <%= a_trusted_relationship.company_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_trusted_relationship.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_trusted_relationship.updated_at) %> ago
        </td>

        <td>
          <a href="/trusted_relationships/<%= a_trusted_relationship.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
