<h1>Your Data</h1>

<dl>
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>


  <dt>Birthday</dt>
  <dd><%= @user.date_of_birth %></dd>

  <dt>Address (line 1)</dt>
  <dd><%= @user.street_address %></dd>

  <dt>Address (line 2)</dt>
  <dd><%= @user.apartment_number %></dd>

  <dt>City</dt>
  <dd><%= @user.city %></dd>

  <dt>State</dt>
  <dd><%= @user.state %></dd>

  <dt>City</dt>
  <dd><%= @user.city %></dd>

  <dt>Zip code</dt>
  <dd><%= @user.zip_code %></dd>

<a href="/user/edit_data">Edit your data</a>
<a href="/user/delete_data">Delete all of your data</a>
